#splitBill {
  .split__bill__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 3rem 6rem;
    text-align: center;

    .split__bill__header {
    }

    .split__bill__content {
      .split__bill__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        width: 35rem;

        .split__bill__form__group {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;

          & > label.form-label {
            font-weight: 500;
          }

          & > input.form-input {
            border: none;
            width: 100%;
            padding: 1rem;
            box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.1);
            outline: none;
          }
        }

        .split__bill__form__action {
          & > button.btn__calculate {
            padding: 0.75rem 1.5rem;
            background-color: #000;
            color: #fff;
            font-weight: 500;
            border: 1px solid #000;
            transition: 0.3s;

            &:hover {
              background-color: #fff;
              color: #000;
            }
          }
        }
      }
    }
  }

  .custom-invalid-feedback {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    text-align: left;
    color: #f95353;
  }
}
